* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'cocogoose';
  src: url(../fonts/Cocogoose\ Pro-trial.ttf);
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  height: auto;
  width: 100%;
}

p,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: cocogoose, sans-serif;
  font-weight: bold;
}

#special {
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
  color: #383b43;
  margin-right: 20%;
}

/* nav bar phone */

#black_nav {
  background-color: #3e3e3e;
  width: 100%;
  height: 40px;
  display: none;
  column-gap: 30px;
  align-items: center;
}

#nav_bar_desktop > a {
  height: 100%;
  font-size: 20px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

#black_nav > div {
  margin-left: 60%;
  display: flex;
  column-gap: 30px;
  align-items: center;
}

#black_nav > div > i {
  font-size: 25px;
  color: white;
  cursor: pointer;
}

#black_nav > div > a {
  color: white;
}

#nav_bar_phone {
  background-color: #f5f5f5;
  width: 100%;
  height: 50px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;
  display: grid;
}

#dropMenu {
  font-size: 30px;
  color: #545454;
}

#dropMenu:hover {
  cursor: pointer;
  border: 5px solid #545454;
  border-radius: 20px;
  color: white;
  background-color: #545454;
  width: 35px;
}

#conference1:hover {
  border-radius: 90px;
  box-shadow: 0 0 40px orange;
  transition: border-radius 2s;
}

#conference2:hover {
  border-radius: 90px;
  box-shadow: 0 0 40px orange;
  transition: border-radius 2s;
}

#author1:hover,
#author2:hover,
#author3:hover,
#author4:hover,
#author5:hover,
#author6:hover {
  border-radius: 90px;
  box-shadow: 0 0 40px orange;
  transition: border-radius 2s;
}

#dropMenu:active {
  box-shadow: 0 0 30px #545454;
}

.dropdown-item:hover {
  background-image: url(../images/1853716.jpg);
}

.dropdown-item:active {
  box-shadow: 0 0 30px #000;
}

/* main content */

#section1 > div {
  border: 5px solid white;
  padding: 15px 0 15px 0;
  border-radius: 10px;
  margin: 25px 0 25px 0;
}

#program_cont > div {
  display: grid;
  background-color: #383b43;
  grid-template-columns: 40% 60%;
  height: 130px;
  border-radius: 10px;
}

#main_div > div > div {
  height: 200px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

main {
  width: 100%;
  height: auto;
  padding-top: 20px;
  background-color: #f5f5f5;
  padding-bottom: 100px;
}

div > div > h4 {
  font-weight: bold;
}

div > div > p {
  font-size: 17px;
}

#section1 {
  width: 100%;
  height: auto;
  border: 1px solid #f5f5f5;
}

#section1 > p {
  color: #f84328;
  font-size: 26px;
}

#section1 > h1 {
  color: #f84328;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 30px;
}

#test {
  background-image: none;
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: right;
}

#section1 > h5 {
  margin: 20px 0 60px 0;
  font-size: 40px;
}

img {
  cursor: pointer;
}

#footer2 > img {
  width: 40vw;
  max-width: 300px;
}

#section3 > div > div {
  display: grid;
  grid-template-columns: 30% 70%;
  column-gap: 20px;
}

#program_cont > div > div {
  display: grid;
  align-items: center;
  grid-template-columns: 40% 60%;
}

#section1 > div:hover {
  background-image: unset;
}

#section2 {
  background-color: #272a31;
  background-size: cover;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

#program_cont {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
}

#program_cont > div > div > i {
  justify-self: center;
  font-size: 30px;
  color: white;
}

#program_cont > div > div > h4 {
  color: #ff4f38;
  margin-left: 0;
  font-size: 20px;
}

#program_cont > div > p {
  color: white;
  align-self: center;
}

#section2 > div > h5 {
  color: white;
  padding-bottom: 20px;
  border-bottom: 5px solid #993225;
}

#title_cont {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#join {
  width: 100%;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#special_join {
  font-size: 18px;
  color: white;
  background-color: #ff4f38;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  text-decoration: none;
}

#program_cont > div:hover {
  box-shadow: 0 0 30px black;
}

#section3 {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

#title_sec3 {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
  justify-content: center;
}

#title_footer > h3 {
  padding-bottom: 20px;
  border-bottom: 5px solid #ff4f38;
  color: white;
}

#section3 > div > h3 {
  justify-self: center;
  padding-bottom: 20px;
  border-bottom: 5px solid #ff4f38;
}

#partner_list > img {
  height: 50px;
}

#main_div > div > div > img {
  object-fit: cover;
}

#section3 > div > div > div > img {
  width: 100%;
  height: 100%;
}

.small_line {
  background-color: #dcdcdc;
  width: 50px;
  height: 3px;
}

#main_div {
  display: grid;
  row-gap: 40px;
}

.special {
  color: #ff4f38;
}

#special_join:hover {
  color: #ff4d3c;
  background-color: #383b43;
  border: 3px solid #ff4d3c;
}

/* footer */

#footer1 {
  width: 100%;
  height: auto;
  background-color: #414246;
}

#footer2 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

#footer2 > div > p {
  font-size: 14px;
}

#partner_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  row-gap: 20px;
  padding: 20px 0 20px 0;
}

#title_footer {
  display: flex;
  padding-top: 20px;
  justify-content: center;
}

#special_te {
  color: white;
  text-decoration: underline;
}

.desktop_text {
  display: none;
}

#nav_bar_desktop {
  display: none;
  height: 70px;
  background-color: white;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  position: sticky;
  top: 0;
  z-index: 1;
}

#about {
  color: #f84328;
}

#menu {
  color: #a8a8a8;
}

#tickets {
  color: #a8a8a8;
}

#nav_bar_desktop > a:hover::after {
  content: ">";
  padding-left: 5px;
}

#test2 {
  background-image: unset;
}

/* Media querry */

@media (min-width: 768px) {
  #nav_bar_phone {
    display: none;
  }

  #black_nav {
    display: flex;
  }

  #test {
    background-image: url(../images/animec.png);
  }

  #main_div > div {
    padding: 30px 0 30px 0;
  }

  #nav_bar_desktop {
    display: flex;
  }

  #test2 {
    background-image: url(../images/source2.gif);
  }

  #program_cont {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
    grid-gap: 20px;
  }

  #section1 > h1 {
    font-size: 50px;
  }

  .phone_text {
    display: none;
  }

  .desktop_text {
    display: unset;
  }

  #program_cont > div {
    grid-template-columns: 1fr;
    text-align: center;
    padding-top: 10px;
    max-width: 259px;
    height: 200px;
  }

  #program_cont > div > div {
    grid-template-columns: 1fr;
    text-align: center;
  }

  #main_div {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    width: 80%;
    margin: auto;
  }

  #main_div > div > div > img {
    max-width: 230px;
    max-height: 230px;
    object-fit: cover;
  }

  #partner_list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    width: 70%;
    margin: auto;
  }

  #footer2 {
    justify-content: center;
  }

  #section1 {
    margin-left: 10%;
    width: 50%;
    min-height: 440px;
  }
}
